<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : Contact me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              Thank you for your message! I will get in touch with you, shortly!
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>


{% include 'footer.html' %}

</html>